<div id="databaseResponseModal" class="modal">
    <div class="modal-content">
        <span id="databaseResponseClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Database Response: </h3>
            <div class="modal-text" id="databaseResponseDetails"></div>
        </div>
        <button id="databaseResponseButton">Close</button>
    </div>
</div>