<div id="rentalReportModal" class="modal">
    <div class="modal-content">
        <span id="rentalReportClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Rented vehicles: </h3>
            <div class="modal-text" id="rentalReportContent"></div>
        </div>
        <button id="rentalReportButton">Close</button>
    </div>
</div>