<div id="rentalReportDetailsModal" class="modal">
    <div class="modal-content">
        <span id="rentalReportDetailsClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Rented vehicles: </h3>
            <div class="modal-text" id="rentalReportDetails"></div>
        </div>
        <button id="rentalReportDetailsButton">Close</button>
    </div>
</div>