<div id="rentModal" class="modal">
    <div class="modal-content">
        <span id="rentClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Rental Summary: </h3>
            <div class="modal-text" id="rentDetails"></div>
        </div>
        <button id="rentButton">Close</button>
    </div>
</div>