<div id="reserveModal" class="modal">
    <div class="modal-content">
        <span id="reserveClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Reservation details: </h3>
            <div class="modal-text" id="reserveDetails"></div>
        </div>
        <button id="reserveButton">Close</button>
    </div>
</div>