<div id="returnModal" class="modal">
    <div class="modal-content">
        <span id="returnClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Return Summary: </h3>
            <div class="modal-text" id="returnDetails"></div>
        </div>
        <button id="returnButton">Close</button>
    </div>
</div>