<div id="returnReportDetailsModal" class="modal">
    <div class="modal-content">
        <span id="returnReportDetailsClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Returned vehicles: </h3>
            <div class="modal-text" id="returnReportDetails"></div>
        </div>
        <button id="returnReportDetailsButton">Close</button>
    </div>
</div>