<div id="vehicleDetailsModal" class="modal">
    <div class="modal-content">
        <span id="vehicleDetailsClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Available vehicles: </h3>
            <div class="modal-text" id="vehicleDetails"></div>
        </div>
        <button id="vehicleDetailsButton">Close</button>
    </div>
</div>