<div id="viewModal" class="modal">
    <div class="modal-content">
        <span id="viewClose" class="close">x</span>
        <div class="flex-column-container">
            <h3>Available vehicles: </h3>
            <div class="modal-text" id="availableVehicleList"></div>
        </div>
        <button id="viewButton">Close</button>
    </div>
</div>