<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="content">
        <h1>SuperRent</h1>
        <h2>Canada's most mediocre car rental service</h2>
        <br>
        <h2>Admins' Actions:</h2>
        <div class="action">
            <h3>Database Manipulation:</h3>
            <div class="flex-column-container">
                <div>*Warning: You are about to directly manipulate the super rent database.</div>
                <div><textarea id="sqlQuery"></textarea></div>
                <div><button onClick="manipulateDatabase()">Submit</button></div>
            </div>
            <div>HINTS:</div>
            <div>List all tables/ relations using "SELECT table_schema, table_name FROM information_schema.tables;"</div>
        </div>
        <% include ../modals/databaseResponseModal.ejs %>
    </div>
</body>

</html>