<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="content">
        <h1>SuperRent</h1>
        <h2>Canada's worst car rental service</h2>
        <br>
        <h2>Clerks' Actions:</h2>
        <div class="action">
            <h3>Rent</h3>
            <div class="flex-column-container">
                <form id="rentForm">
                    <h4>Rent with prior reservation:</h4>
                    <div>Confirmation Number: <input type="text" name="confNo"></div>
                    <br>
                    <h4>Rent with no reservation:</h4>
                    <div class="flex-row-container">Vehicle Type*: <select class="type" type="text" name="type"></select>
                    Location*: <select class="location" type="text" name="location"></select></div>
                    <div class="flex-row-container">
                        From Date*: <input type="date" name="startDate">
                        From Time: <input type="time" name="startTime">
                        To Date*: <input type="date" name="endDate">
                        To Time: <input type="time" name="endTime">
                    </div>
                    Customer Information:
                    <div class="flex-row-container">
                        Driving License*: <input type="text" name="dlicense">
                    </div>

                    New Customer:
                    <div class="flex-row-container">
                        Name*: <input type="text" name="name">
                        Address*: <input type="text" name="address">
                    </div>
                </form>
                <button onClick="prepareRentVehicle()">Rent</button>
            </div>
        </div>
        <div class="action">
            <h3>Return</h3>
            <div class="flex-column-container">
                <form id="returnForm">
                    <div>Confirmation Number*: <input type="text" name="confNo"></div>
                    <div class="flex-row-container">
                        Return Date*: <input type="date" name="returnDate">
                        Return Time*: <input type="time" name="returnTime">
                    </div>
                    <div class="flex-row-container">
                        Odometer reading*: <input type="number" name="odometer">
                        Full tank*: <input type="checkbox" name="fulltank">
                    </div>
                </form>
                <button onClick="returnVehicle()">Return</button>
            </div>
        </div>
        <div class="action">
            <h3>Report</h3>
            <div class="flex-column-container">
                <form id="reportForm">
                    <div class="flex-row-container">
                        Report Type*: <select class="reportType" type="text" name="reportType"></select>
                        Date: <input type="date" name="reportDate">;
                        Location: <select class="location" type="text" name="location"></select>
                    </div>
                </form>
                <button onClick="getReport()">Get Report</button>
            </div>
        </div>
        <div id="confirmRentModal" class="modal">
            <div class="modal-content">
                <span id="confirmRentClose" class="close">x</span>
                <div class="flex-column-container">
                    <h3>Rental Information: </h3>
                    <form id="confirmForm">
                        <div>Driving License*: <input type="text" name="dlicense"></div>
                        <div>Credit Card Number*: <input type=text pattern="[0-9]{16}" name="cardNo"></div>
                        <div>Expiry*: <input type="month" name="expiration"></div>
                    </form>
                    <button id="confirmRentButton">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>