<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="content">
        <h1>SuperRent</h1>
        <h2>Canada's worst car rental service</h2>
        <br>
        <h2>Customers' Actions:</h2>
        <div class="action">
            <h3>View Vehicles:</h3>
            <div class="flex-column-container">
                <form id="viewForm">
                    <div class="flex-row-container">
                        Vehicle Type: <select class="type" type="text" name="type"></select>
                        Location: <select class="location" type="text" name="location"></select>
                    </div>
                    <div class="flex-row-container">
                        From Date: <input type="date" name="startDate">
                        From Time: <input type="time" name="startTime">
                        To Date: <input type="date" name="endDate">
                        To Time: <input type="time" name="endTime">
                    </div>
                </form>
                <button onClick="viewVehicles()">View</button>
            </div>
        </div>
        <div class="action">
            <h3>Make Reservation</h3>
            <div class="flex-column-container">
                <form id="reserveForm">
                    <div class="flex-row-container">
                        Vehicle Type*: <select class="type" type="text" name="type"></select>
                        Location*: <select class="location" type="text" name="location"></select>
                    </div>
                    <div class="flex-row-container">
                        From Date*: <input type="date" name="startDate">
                        From Time: <input type="time" name="startTime">
                        To Date*: <input type="date" name="endDate">
                        To Time: <input type="time" name="endTime">
                    </div>
                    Customer Information:
                    <div class="flex-row-container">
                        Driving License*: <input type="text" name="dlicense">
                    </div>

                    New Customer:
                    <div class="flex-row-container">
                        Name*: <input type="text" name="name">
                        Address*: <input type="text" name="address">
                    </div>
                </form>
                <button onClick="reserveVehicles()">Reserve</button>
            </div>
        </div>
        * indicates required fields
        <div id="viewModal" class="modal">
            <div class="modal-content">
                <span id="viewClose" class="close">x</span>
                <div class="flex-column-container">
                    <h3>Available vehicles: </h3>
                    <div class="modal-text" id="availableVehicleList"></div>
                </div>
                <button id="viewButton">Close</button>
            </div>
        </div>
        <div id="vehicleDetailsModal" class="modal">
            <div class="modal-content">
                <span id="vehicleDetailsClose" class="close">x</span>
                <div class="flex-column-container">
                    <h3>Available vehicles: </h3>
                    <div class="modal-text" id="vehicleDetails"></div>
                </div>
                <button id="vehicleDetailsButton">Close</button>
            </div>
        </div>
        <div id="reserveModal" class="modal">
            <div class="modal-content">
                <span id="reserveClose" class="close">x</span>
                <div class="flex-column-container">
                    <h3>Reservation details: </h3>
                    <div class="modal-text" id="reserveDetails"></div>
                </div>
                <button id="reserveButton">Close</button>
            </div>
        </div>
    </div>
</body>

</html>