<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="content">
        <h1>SuperRent</h1>
        <h2>Canada's worst car rental service</h2>
        <br>
        <h2>Customers' Actions:</h2>
        <div class="action">
            <h3>View Vehicles:</h3>
            <div class="flex-column-container">
                <form id="viewForm">
                    <div class="flex-row-container">
                        Vehicle Type: <select class="type" type="text" name="type"></select>
                        Location: <select class="location" type="text" name="location"></select>
                    </div>
                    <div class="flex-row-container">
                        Start Date: <input type="date" name="startDate">
                        Start Time: <input type="time" name="startTime">
                        End Date: <input type="date" name="endDate">
                        End Time: <input type="time" name="endTime">
                    </div>
                </form>
                <button onClick="viewVehicles()">View</button>
            </div>
        </div>
        <div class="action">
            <h3>Make Reservation</h3>
            <div class="flex-column-container">
                <form id="reserveForm">
                    <div class="flex-row-container">
                        Vehicle Type*: <select class="type" type="text" name="type"></select>
                        Location*: <select class="location" type="text" name="location"></select>
                    </div>
                    <div class="flex-row-container">
                        Start Date*: <input type="date" name="startDate">
                        Start Time*: <input type="time" name="startTime">
                        End Date*: <input type="date" name="endDate">
                        End Time*: <input type="time" name="endTime">
                    </div>
                    Customer Information:
                    <div class="flex-row-container">
                        Name*: <input type="text" name="name">
                        Cellphone Number*: <input type="tel" name="cellphone">
                    </div>

                    New Customer:
                    <div class="flex-row-container">
                        Address*: <input type="text" name="address">
                        Driving License*: <input type="text" name="dLicense">
                    </div>
                </form>
                <button onClick="reserveVehicles()">Reserve</button>
            </div>
        </div>
        <div class="action">
            <h3>Cancel Reservation</h3>
            <div class="flex-column-container">
                <form id="cancelForm">
                    <div>Confirmation Number*: <input type="text" name="confNo"></div>
                    <h3>or: </h3>
                    <div>Cellphone Number*: <input type="tel" name="cellphone"></div>
                    <div class="flex-row-container">
                        Start Date*: <input type="date" name="startDate">
                        End Date*: <input type="date" name="endDate">
                    </div>
                </form>
                <button onClick="cancelReservation()">Cancel</button>
            </div>
        </div>
        * indicates required fields
    </div>
</body>

</html>